.node--type-event.node--view-mode-teaser {
    background: $night;
    color: $white;
    display: flex;
    flex-direction: column;

    .teaser-image {
        position: relative;
    }

    .field--name-field-date {
        background: $gold;
        padding: $spacing-half;
        position: absolute;
        right: 1rem;
        bottom: -1rem;
        text-transform: uppercase;
        max-width: 3rem;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.1;
        text-align: center;
    }

    .teaser-content {
        padding: $spacing-double $spacing $spacing;
    }

    .field--name-node-link {
        border-top: 1px solid $dim-grey;
        margin: auto $margin 0;
        padding: $spacing 0;
        text-align: right;

        a {
            color: $white;

            &:hover {
                border-bottom-color: $white;
            }
        }
    }
}