.node--type-tile.node--view-mode-teaser {
    @extend %box-hover-shadow;

    transition: all 0.333s ease-in-out;

    .teaser-image {
        padding-top: 100%;
        position: relative;
        background-size: cover;
        background-position: center;
    }

    .field--name-field-link a {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        text-indent: -9999px;
        position: absolute;
        border: none;
    }

    &:hover {
        transform: scale(1.05);
    }
}