.node--type-carousel-slide.node--view-mode-carousel {
    height: 100vh;

    .carousel-content {
        margin: auto 0;
        width: 100%;
        max-width: $breakpoint-max;
        padding: $spacing;
        text-align: center;
        color: $white;
        text-shadow: 0 0 8px rgba($black, 0.666);


        @include breakpoint($breakpoint-medium) {
            padding: $spacing-double;
            text-align: left;
        }

        @include breakpoint($breakpoint-max) {
            margin: auto;
        }

        h1 {
            color: $white;
            margin-bottom: 0;
        }

        .field--name-field-teaser {
            margin-bottom: $margin * 1.5;
            font-size: 1.4rem;
        }
    }

    .carousel-image {
        height: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
    }
}

body.toolbar-horizontal,
body.toolbar-vertical {
    .node--type-carousel-slide.node--view-mode-carousel {
        height: calc(100vh - 40px);
    }
}

body.toolbar-horizontal.toolbar-tray-open {
    .node--type-carousel-slide.node--view-mode-carousel {
        height: calc(100vh - 80px);
    }
}