$font-size-base: 16px;
$line-height-base: 1.5;
$font-family-base: 'Titillium',
serif;
$font-family-condensed: 'Open Sans Condensed',
sans-serif;
$font-family-header: $font-family-base;
$font-weight-base: 300;
$font-weight-header-base: 600;

$margin: 1.125rem;
$spacing: 1rem;
$spacing-half: $spacing / 2;
$spacing-double: 2 * $spacing;

$breakpoint-all : 0;
$breakpoint-small : 540px;
$breakpoint-medium: 768px;
$breakpoint-large : 1024px;
$breakpoint-max: 1280px;

$breakpoint-all-small : $breakpoint-all ($breakpoint-small - 1);
$breakpoint-all-medium : $breakpoint-all ($breakpoint-medium - 1);
$breakpoint-small-medium: $breakpoint-small ($breakpoint-medium - 1);

// Colors in use
$regent: rgb(142, 154, 162);
$baby: rgb(132, 198, 227);
$blue: rgb(108, 173, 201);
$night: rgb(24, 37, 48);
$gold: rgb(173, 151, 79);

$black: rgb(0, 0, 0);
$dark: rgb(32, 32, 32);
$dim-grey: rgb(96, 96, 96);
$tin: rgb(169, 169, 169);
$silver: rgb(202, 203, 203);
$porcelain: rgb(224, 224, 224);
$satin: rgb(240, 240, 240);
$white: rgb(255, 255, 255);