.view-menu.view-display-id-block {
    max-width: $breakpoint-max;
    margin: 0 auto;

    .view-header {
        margin: 0 auto $spacing-double;
        color: $white;
        max-width: $breakpoint-medium;
        text-align: center;
    }

    .view-content {
        margin: 0 (-$spacing-half);
        display: flex;
        flex-wrap: wrap;

        .views-row {
            padding: 0 $spacing $spacing-double;
            width: 100%;

            @include breakpoint($breakpoint-medium) {
                width: 50%;
            }

            @include breakpoint($breakpoint-large) {
                width: 25%;
            }
        }

        .more-link {
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;

            @include breakpoint($breakpoint-medium) {
                background: $night;
            }

            a {
                border: 1px solid $white;
                padding: calc(0.5rem + 3px) $spacing-half $spacing-half;
                color: $white;
                font-weight: bold;
                text-transform: uppercase;
                margin: auto;
            }
        }
    }
}