.view-events.view-display-id-block {
    .views-row {
        margin-bottom: $spacing;
    }

    @include breakpoint($breakpoint-medium) {
        .view-content {
            margin: 0 $spacing-half;
            display: flex;

            .views-row {
                max-width: 300px;
                display: flex;
                margin: 0 $spacing-half;

                .node {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}