<header role="banner" class="page-header">
  {{ page.header }}
</header>

<main role="main" class="page-content">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  <div class="container">
    {{ page.content }}
  </div>
</main>

<footer role="contentinfo" class="page-footer">
  <div class="container">
    {{ page.footer }}
  </div>
  <div class="disclaimer">&copy; 2019 <a href="http://zbl3.com">FORSYTH Webdevelopment Drupal Dummy site</a></div>
</footer>
