.page-footer {
    color: $regent;
    background: $dark;

    .container {
        padding: $spacing;
        max-width: $breakpoint-max;
        margin: 0 auto;
    }

    .disclaimer {
        background: $black;
        color: $white;
        text-align: center;
        padding: $spacing;
        font-size: 1rem;

        a {
            color: $white;

            &:hover {
                border-bottom-color: $white;
            }
        }
    }
}