.page-header {
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    @include breakpoint($breakpoint-medium) {
        background: rgba($black, 0.8);
        box-shadow: 0 0 10px rgba($black, 0.4);
    }

    .region-header {
        margin: 0 auto;
        max-width: $breakpoint-max;
        display: flex;
    }

    .nav-blinder {
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2;
        opacity: 0;
        background: rgba($black, 0.4);
        transition: all 0.5s ease-in-out;
        pointer-events: none;
    }

    nav {
        z-index: 2;
    }
}

body.toolbar-horizontal,
body.toolbar-vertical {
    .page-header {
        top: 40px;
    }
}

body.toolbar-horizontal.toolbar-tray-open {
    .page-header {
        top: 80px;
    }
}

body.main-menu-open .nav-blinder {
    opacity: 1;
    pointer-events: unset;
}