.main-menu-button {
    color: $white;
    height: 4rem;
    width: 4rem;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-shadow: 0 0 8px rgba($black, 0.666);
    transition: all 0.333s ease-in-out;

    @include breakpoint($breakpoint-medium) {
        display: none;
    }

    &:hover {
        color: $gold;
    }

    svg {
        margin: 0 auto;
        color: $gold;
    }
}

.main-menu {
    background: $black;
    width: calc(100% - 2rem);
    margin: 0 $spacing;
    position: absolute;
    top: 4rem;
    padding: $spacing;
    left: 0;

    @include breakpoint($breakpoint-medium) {
        position: relative;
        background: none;
        top: unset;
        left: unset;
        justify-content: center;

        ul.menu {
            display: flex;
            justify-content: center;

            li {
                border-right: 1px solid $tin;
                padding: 0 $spacing;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    ul {
        margin: 0;
        list-style-type: none;
        padding: 0;

        a {
            display: block;
            text-transform: uppercase;
            font-weight: bold;
            color: $tin;
            text-align: center;
            border: none;

            &.is-active,
            &:hover {
                color: $white;
            }
        }
    }
}

.main-menu {
    display: none;

    @include breakpoint($breakpoint-medium) {
        display: block;
    }
}

body.main-menu-open .main-menu {
    display: block;
}

// To fix the expanding menu problem, we unset the position relative on the
// contextual-item class.
.block.menu--main {
    position: unset;
}