.block-views-blockevents-block {
    margin: 0 (-$spacing);
    padding: $spacing-double $spacing;
    background-color: $black;
    min-height: 1px;
    background-image: url('../img/cloud.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @include breakpoint($breakpoint-medium) {
        padding: $spacing-double;
    }

    h2 {
        text-align: center;
        color: $white;
        text-transform: uppercase;
    }
}