.block-system-branding-block {
    position: absolute;
    z-index: 1;
    top: 3rem;
    left: 0;
    width: 100%;

    a {
        max-width: 120px;
        margin: 0 auto;
        display: block;
        text-align: center;
        border-bottom: 0;

        img {
            width: 60px;
            margin: 0 auto $spacing-half;
        }

        span {
            font-size: 2rem;
            text-shadow: 0 0 8px rgba($black, 0.333);
            color: $white;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    @include breakpoint($breakpoint-medium) {
        top: 6rem;

        .site-name {
            max-width: $breakpoint-max;
            margin: 0 auto;
        }

        a {
            margin: 0;
            max-width: 180px;

            span {
                font-size: 3rem;
            }
        }
    }
}