.block-content--view-mode-full {
    margin: 0 (-$spacing);
    position: relative;

    @include breakpoint($breakpoint-medium) {
        display: flex;
        flex-wrap: nowrap;

        >div {
            width: 50%;
        }
    }

    .block-image {
        background-position: center;
        background-size: cover;
        padding-top: 56.25%;
        position: relative;

        @include breakpoint($breakpoint-medium) {
            padding-top: 0;
            background-attachment: fixed;
        }

        .field--name-field-image {
            display: none;
        }
    }

    .block-content {
        padding: $spacing-double $spacing;
        text-align: center;

        >* {
            max-width: 600px;
        }

        @include breakpoint($breakpoint-medium) {
            padding: 6rem $spacing-double;
            text-align: left;
        }

        h2 {
            text-transform: uppercase;
        }

        .field--name-field-link {
            padding-top: $spacing;

            @include breakpoint($breakpoint-medium) {
                padding-top: $spacing-double;
                text-align: right;
            }

            a {
                color: $black;
                border-color: $black;
            }
        }
    }
}