.block-views-blockmenu-block {
    background-color: $black;
    background-image: url(../img/wood.png);
    margin: 0 (-$spacing);
    padding: $spacing-double $spacing 0;
    background-color: $black;
    min-height: 1px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @include breakpoint($breakpoint-medium) {
        padding: $spacing-double $spacing-double 0;
    }

    h2 {
        text-align: center;
        color: $white;
        text-transform: uppercase;
    }
}