.field--name-field-link {
    a {
        border: 1px solid $white;
        padding: calc(0.5rem + 3px) $spacing-half $spacing-half;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
    }
}