/* line 1, ../scss/base/_reboot.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 7, ../scss/base/_reboot.scss */
html {
  box-sizing: border-box;
  margin: 0;
  font-family: "Titillium", serif;
  font-size: 16px;
  line-height: 1.5;
  text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

/* line 18, ../scss/base/_reboot.scss */
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* line 32, ../scss/base/_reboot.scss */
body {
  margin: 0;
  text-align: left;
  background: #fff;
  font-size: 1.15rem;
}

/* line 39, ../scss/base/_reboot.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.125rem;
  line-height: 1.2;
  font-weight: 600;
}

/* line 51, ../scss/base/_reboot.scss */
h1 {
  font-size: 2.5rem;
}

/* line 55, ../scss/base/_reboot.scss */
h2 {
  font-size: 2rem;
}

/* line 59, ../scss/base/_reboot.scss */
h3 {
  font-size: 1.75rem;
}

/* line 63, ../scss/base/_reboot.scss */
h4 {
  font-size: 1.5rem;
}

/* line 67, ../scss/base/_reboot.scss */
h5 {
  font-size: 1.33rem;
}

/* line 71, ../scss/base/_reboot.scss */
p {
  margin: 0;
}

/* line 75, ../scss/base/_reboot.scss */
p + p {
  margin: 1.125rem 0 0 0;
}

/* line 79, ../scss/base/_reboot.scss */
ol,
ul {
  margin: 0 0 1.125rem 0;
}

/* line 84, ../scss/base/_reboot.scss */
ol ol,
ul ul {
  margin-bottom: 0;
}

/* line 89, ../scss/base/_reboot.scss */
P + ul {
  margin-top: 1.125rem;
  font-style: italic;
}

/* line 94, ../scss/base/_reboot.scss */
p + ol {
  margin-top: 1.125rem;
  font-style: italic;
}

/* line 99, ../scss/base/_reboot.scss */
strong {
  font-weight: 600;
}

/* line 103, ../scss/base/_reboot.scss */
a {
  text-decoration: none;
  color: #03f;
  border-bottom: 1px solid transparent;
  transition: all 0.3333s ease-in-out;
}
/* line 109, ../scss/base/_reboot.scss */
a:hover {
  text-decoration: none;
  border-bottom: 1px solid #03f;
}

/* line 115, ../scss/base/_reboot.scss */
img {
  display: block;
  margin: 0;
  border: 0;
  max-width: 100%;
  height: auto;
}

/* line 123, ../scss/base/_reboot.scss */
.dialog-off-canvas-main-canvas {
  position: relative;
}

@font-face {
  font-family: "Titillium";
  src: url('../fonts/titillium/Titillium-Light.woff?1395858388') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Titillium";
  src: url('../fonts/titillium/Titillium-LightItalic.woff?1395858390') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Titillium";
  src: url('../fonts/titillium/Titillium-Semibold.woff?1395858386') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Titillium";
  src: url('../fonts/titillium/Titillium-SemiboldItalic.woff?1395858388') format('woff');
  font-weight: 600;
  font-style: italic;
}
/* line 1, ../scss/base/_typography.scss */
h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  /* line 1, ../scss/base/_typography.scss */
  h1 {
    font-size: 4rem;
  }
}

/* line 10, ../scss/base/_typography.scss */
h2 {
  font-size: 1.75rem;
}
@media (min-width: 768px) {
  /* line 10, ../scss/base/_typography.scss */
  h2 {
    font-size: 3rem;
  }
}

/* line 1, ../scss/regions/_header.scss */
.page-header {
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
@media (min-width: 768px) {
  /* line 1, ../scss/regions/_header.scss */
  .page-header {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
}
/* line 14, ../scss/regions/_header.scss */
.page-header .region-header {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
}
/* line 20, ../scss/regions/_header.scss */
.page-header .nav-blinder {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}
/* line 33, ../scss/regions/_header.scss */
.page-header nav {
  z-index: 2;
}

/* line 40, ../scss/regions/_header.scss */
body.toolbar-horizontal .page-header,
body.toolbar-vertical .page-header {
  top: 40px;
}

/* line 46, ../scss/regions/_header.scss */
body.toolbar-horizontal.toolbar-tray-open .page-header {
  top: 80px;
}

/* line 51, ../scss/regions/_header.scss */
body.main-menu-open .nav-blinder {
  opacity: 1;
  pointer-events: unset;
}

/* line 1, ../scss/regions/_content.scss */
.page-content {
  padding: 4rem 1rem 0;
}

/* line 1, ../scss/regions/_footer.scss */
.page-footer {
  color: #8e9aa2;
  background: #202020;
}
/* line 5, ../scss/regions/_footer.scss */
.page-footer .container {
  padding: 1rem;
  max-width: 1280px;
  margin: 0 auto;
}
/* line 11, ../scss/regions/_footer.scss */
.page-footer .disclaimer {
  background: black;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}
/* line 18, ../scss/regions/_footer.scss */
.page-footer .disclaimer a {
  color: white;
}
/* line 21, ../scss/regions/_footer.scss */
.page-footer .disclaimer a:hover {
  border-bottom-color: white;
}

/* line 1, ../scss/block/_block--menu-main.scss */
.block.menu--main {
  width: 100%;
}

/* line 1, ../scss/block/_block--system-branding.scss */
.block-system-branding-block {
  position: absolute;
  z-index: 1;
  top: 3rem;
  left: 0;
  width: 100%;
}
/* line 8, ../scss/block/_block--system-branding.scss */
.block-system-branding-block a {
  max-width: 120px;
  margin: 0 auto;
  display: block;
  text-align: center;
  border-bottom: 0;
}
/* line 15, ../scss/block/_block--system-branding.scss */
.block-system-branding-block a img {
  width: 60px;
  margin: 0 auto 0.5rem;
}
/* line 20, ../scss/block/_block--system-branding.scss */
.block-system-branding-block a span {
  font-size: 2rem;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.333);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
@media (min-width: 768px) {
  /* line 1, ../scss/block/_block--system-branding.scss */
  .block-system-branding-block {
    top: 6rem;
  }
  /* line 32, ../scss/block/_block--system-branding.scss */
  .block-system-branding-block .site-name {
    max-width: 1280px;
    margin: 0 auto;
  }
  /* line 37, ../scss/block/_block--system-branding.scss */
  .block-system-branding-block a {
    margin: 0;
    max-width: 180px;
  }
  /* line 41, ../scss/block/_block--system-branding.scss */
  .block-system-branding-block a span {
    font-size: 3rem;
  }
}

/* line 1, ../scss/block/_block--views--events.scss */
.block-views-blockevents-block {
  margin: 0 -1rem;
  padding: 2rem 1rem;
  background-color: black;
  min-height: 1px;
  background-image: url("../img/cloud.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media (min-width: 768px) {
  /* line 1, ../scss/block/_block--views--events.scss */
  .block-views-blockevents-block {
    padding: 2rem;
  }
}
/* line 15, ../scss/block/_block--views--events.scss */
.block-views-blockevents-block h2 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

/* line 1, ../scss/block/_block--views--menu.scss */
.block-views-blockmenu-block {
  background-color: black;
  background-image: url(../img/wood.png);
  margin: 0 -1rem;
  padding: 2rem 1rem 0;
  background-color: black;
  min-height: 1px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media (min-width: 768px) {
  /* line 1, ../scss/block/_block--views--menu.scss */
  .block-views-blockmenu-block {
    padding: 2rem 2rem 0;
  }
}
/* line 16, ../scss/block/_block--views--menu.scss */
.block-views-blockmenu-block h2 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

/* line 1, ../scss/block/_block--content.scss */
.block-content--view-mode-full {
  margin: 0 -1rem;
  position: relative;
}
@media (min-width: 768px) {
  /* line 1, ../scss/block/_block--content.scss */
  .block-content--view-mode-full {
    display: flex;
    flex-wrap: nowrap;
  }
  /* line 9, ../scss/block/_block--content.scss */
  .block-content--view-mode-full > div {
    width: 50%;
  }
}
/* line 14, ../scss/block/_block--content.scss */
.block-content--view-mode-full .block-image {
  background-position: center;
  background-size: cover;
  padding-top: 56.25%;
  position: relative;
}
@media (min-width: 768px) {
  /* line 14, ../scss/block/_block--content.scss */
  .block-content--view-mode-full .block-image {
    padding-top: 0;
    background-attachment: fixed;
  }
}
/* line 25, ../scss/block/_block--content.scss */
.block-content--view-mode-full .block-image .field--name-field-image {
  display: none;
}
/* line 30, ../scss/block/_block--content.scss */
.block-content--view-mode-full .block-content {
  padding: 2rem 1rem;
  text-align: center;
}
/* line 34, ../scss/block/_block--content.scss */
.block-content--view-mode-full .block-content > * {
  max-width: 600px;
}
@media (min-width: 768px) {
  /* line 30, ../scss/block/_block--content.scss */
  .block-content--view-mode-full .block-content {
    padding: 6rem 2rem;
    text-align: left;
  }
}
/* line 43, ../scss/block/_block--content.scss */
.block-content--view-mode-full .block-content h2 {
  text-transform: uppercase;
}
/* line 47, ../scss/block/_block--content.scss */
.block-content--view-mode-full .block-content .field--name-field-link {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  /* line 47, ../scss/block/_block--content.scss */
  .block-content--view-mode-full .block-content .field--name-field-link {
    padding-top: 2rem;
    text-align: right;
  }
}
/* line 55, ../scss/block/_block--content.scss */
.block-content--view-mode-full .block-content .field--name-field-link a {
  color: black;
  border-color: black;
}

/* line 1, ../scss/navigation/_menu--main.scss */
.main-menu-button {
  color: white;
  height: 4rem;
  width: 4rem;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.666);
  transition: all 0.333s ease-in-out;
}
@media (min-width: 768px) {
  /* line 1, ../scss/navigation/_menu--main.scss */
  .main-menu-button {
    display: none;
  }
}
/* line 17, ../scss/navigation/_menu--main.scss */
.main-menu-button:hover {
  color: #ad974f;
}
/* line 21, ../scss/navigation/_menu--main.scss */
.main-menu-button svg {
  margin: 0 auto;
  color: #ad974f;
}

/* line 27, ../scss/navigation/_menu--main.scss */
.main-menu {
  background: black;
  width: calc(100% - 2rem);
  margin: 0 1rem;
  position: absolute;
  top: 4rem;
  padding: 1rem;
  left: 0;
}
@media (min-width: 768px) {
  /* line 27, ../scss/navigation/_menu--main.scss */
  .main-menu {
    position: relative;
    background: none;
    top: unset;
    left: unset;
    justify-content: center;
  }
  /* line 43, ../scss/navigation/_menu--main.scss */
  .main-menu ul.menu {
    display: flex;
    justify-content: center;
  }
  /* line 47, ../scss/navigation/_menu--main.scss */
  .main-menu ul.menu li {
    border-right: 1px solid darkgray;
    padding: 0 1rem;
  }
  /* line 51, ../scss/navigation/_menu--main.scss */
  .main-menu ul.menu li:last-child {
    border-right: none;
  }
}
/* line 58, ../scss/navigation/_menu--main.scss */
.main-menu ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
/* line 63, ../scss/navigation/_menu--main.scss */
.main-menu ul a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: darkgray;
  text-align: center;
  border: none;
}
/* line 71, ../scss/navigation/_menu--main.scss */
.main-menu ul a.is-active, .main-menu ul a:hover {
  color: white;
}

/* line 79, ../scss/navigation/_menu--main.scss */
.main-menu {
  display: none;
}
@media (min-width: 768px) {
  /* line 79, ../scss/navigation/_menu--main.scss */
  .main-menu {
    display: block;
  }
}

/* line 87, ../scss/navigation/_menu--main.scss */
body.main-menu-open .main-menu {
  display: block;
}

/* line 93, ../scss/navigation/_menu--main.scss */
.block.menu--main {
  position: unset;
}

/* line 1, ../scss/views/_view--frontpage.scss */
.view-frontpage {
  margin: -4rem -1rem 0;
}
/* line 4, ../scss/views/_view--frontpage.scss */
.view-frontpage .slick-dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 15, ../scss/views/_view--frontpage.scss */
.view-frontpage .slick-dots button {
  background: transparent;
  padding: 0;
  margin: 0;
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid white;
  text-indent: -9999px;
  border-radius: 50%;
  margin: 0 0.25rem;
}
/* line 26, ../scss/views/_view--frontpage.scss */
.view-frontpage .slick-dots button:hover, .view-frontpage .slick-dots button:focus {
  background: rgba(255, 255, 255, 0.8);
}
/* line 33, ../scss/views/_view--frontpage.scss */
.view-frontpage .slick-dots li.slick-active button {
  background-color: white;
}

/* line 2, ../scss/views/_view--events.scss */
.view-events.view-display-id-block .views-row {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  /* line 7, ../scss/views/_view--events.scss */
  .view-events.view-display-id-block .view-content {
    margin: 0 0.5rem;
    display: flex;
  }
  /* line 11, ../scss/views/_view--events.scss */
  .view-events.view-display-id-block .view-content .views-row {
    max-width: 300px;
    display: flex;
    margin: 0 0.5rem;
  }
  /* line 16, ../scss/views/_view--events.scss */
  .view-events.view-display-id-block .view-content .views-row .node {
    display: flex;
    flex-direction: column;
  }
}

/* line 1, ../scss/views/_view--menu--block.scss */
.view-menu.view-display-id-block {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 5, ../scss/views/_view--menu--block.scss */
.view-menu.view-display-id-block .view-header {
  margin: 0 auto 2rem;
  color: white;
  max-width: 768px;
  text-align: center;
}
/* line 12, ../scss/views/_view--menu--block.scss */
.view-menu.view-display-id-block .view-content {
  margin: 0 -0.5rem;
  display: flex;
  flex-wrap: wrap;
}
/* line 17, ../scss/views/_view--menu--block.scss */
.view-menu.view-display-id-block .view-content .views-row {
  padding: 0 1rem 2rem;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 17, ../scss/views/_view--menu--block.scss */
  .view-menu.view-display-id-block .view-content .views-row {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  /* line 17, ../scss/views/_view--menu--block.scss */
  .view-menu.view-display-id-block .view-content .views-row {
    width: 25%;
  }
}
/* line 30, ../scss/views/_view--menu--block.scss */
.view-menu.view-display-id-block .view-content .more-link {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
}
@media (min-width: 768px) {
  /* line 30, ../scss/views/_view--menu--block.scss */
  .view-menu.view-display-id-block .view-content .more-link {
    background: #182530;
  }
}
/* line 40, ../scss/views/_view--menu--block.scss */
.view-menu.view-display-id-block .view-content .more-link a {
  border: 1px solid white;
  padding: calc(0.5rem + 3px) 0.5rem 0.5rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;
}

/* line 1, ../scss/nodes/_node.scss */
.node--type-tile.node--view-mode-teaser {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: all 0.333s ease-in-out;
}
/* line 5, ../scss/nodes/_node.scss */
.node--type-tile.node--view-mode-teaser:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

/* line 1, ../scss/nodes/_node--carousel-slide--carousel.scss */
.node--type-carousel-slide.node--view-mode-carousel {
  height: 100vh;
}
/* line 4, ../scss/nodes/_node--carousel-slide--carousel.scss */
.node--type-carousel-slide.node--view-mode-carousel .carousel-content {
  margin: auto 0;
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
  text-align: center;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.666);
}
@media (min-width: 768px) {
  /* line 4, ../scss/nodes/_node--carousel-slide--carousel.scss */
  .node--type-carousel-slide.node--view-mode-carousel .carousel-content {
    padding: 2rem;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  /* line 4, ../scss/nodes/_node--carousel-slide--carousel.scss */
  .node--type-carousel-slide.node--view-mode-carousel .carousel-content {
    margin: auto;
  }
}
/* line 23, ../scss/nodes/_node--carousel-slide--carousel.scss */
.node--type-carousel-slide.node--view-mode-carousel .carousel-content h1 {
  color: white;
  margin-bottom: 0;
}
/* line 28, ../scss/nodes/_node--carousel-slide--carousel.scss */
.node--type-carousel-slide.node--view-mode-carousel .carousel-content .field--name-field-teaser {
  margin-bottom: 1.6875rem;
  font-size: 1.4rem;
}
/* line 34, ../scss/nodes/_node--carousel-slide--carousel.scss */
.node--type-carousel-slide.node--view-mode-carousel .carousel-image {
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
}

/* line 44, ../scss/nodes/_node--carousel-slide--carousel.scss */
body.toolbar-horizontal .node--type-carousel-slide.node--view-mode-carousel,
body.toolbar-vertical .node--type-carousel-slide.node--view-mode-carousel {
  height: calc(100vh - 40px);
}

/* line 50, ../scss/nodes/_node--carousel-slide--carousel.scss */
body.toolbar-horizontal.toolbar-tray-open .node--type-carousel-slide.node--view-mode-carousel {
  height: calc(100vh - 80px);
}

/* line 1, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser {
  background: #182530;
  color: white;
  display: flex;
  flex-direction: column;
}
/* line 7, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser .teaser-image {
  position: relative;
}
/* line 11, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser .field--name-field-date {
  background: #ad974f;
  padding: 0.5rem;
  position: absolute;
  right: 1rem;
  bottom: -1rem;
  text-transform: uppercase;
  max-width: 3rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.1;
  text-align: center;
}
/* line 25, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser .teaser-content {
  padding: 2rem 1rem 1rem;
}
/* line 29, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser .field--name-node-link {
  border-top: 1px solid #606060;
  margin: auto 1.125rem 0;
  padding: 1rem 0;
  text-align: right;
}
/* line 35, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser .field--name-node-link a {
  color: white;
}
/* line 38, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser .field--name-node-link a:hover {
  border-bottom-color: white;
}

/* line 1, ../scss/nodes/_node--tile--teaser.scss */
.node--type-tile.node--view-mode-teaser {
  transition: all 0.333s ease-in-out;
}
/* line 6, ../scss/nodes/_node--tile--teaser.scss */
.node--type-tile.node--view-mode-teaser .teaser-image {
  padding-top: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}
/* line 13, ../scss/nodes/_node--tile--teaser.scss */
.node--type-tile.node--view-mode-teaser .field--name-field-link a {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-indent: -9999px;
  position: absolute;
  border: none;
}
/* line 23, ../scss/nodes/_node--tile--teaser.scss */
.node--type-tile.node--view-mode-teaser:hover {
  transform: scale(1.05);
}

/* line 2, ../scss/fields/_field--link.scss */
.field--name-field-link a {
  border: 1px solid white;
  padding: calc(0.5rem + 3px) 0.5rem 0.5rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
