h1 {
    font-size: 2rem;
    text-transform: uppercase;

    @include breakpoint($breakpoint-medium) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 1.75rem;

    @include breakpoint($breakpoint-medium) {
        font-size: 3rem;
    }
}